# deps
node_modules
.pnpm-store

# next
.next
out
.edgeone

# env
.env
.env*.local
worker/.env

# prisma
prisma/*.db
prisma/*.db-journal

# local runtime data
data/*.json

# debug
npm-debug.log*
.DS_Store
*.tsbuildinfo

# ide
.idea
.vscode
worker/node_modules
worker/.playwright-profile

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  